body {
  /* background-color: black; */
  margin: 20px 100px 20px 100px ;
}

.title {
  font-family: Lobster;
  font-size: 60px;
  color: red;
}
.content{
  /* margin: 50px 30px; */
  text-align: justify;
}
.content div{
  border: #808080 solid 1px;
      margin-top: 4%;
    margin-bottom: 2%;
  padding: 10px 20px;
  border-radius: 5px;
}
span{
  font-size: 30px;
  font-family: "Time new roman";
  font-style: italic;
}
p {
  /* color: antiquewhite ; */
}

.btn {
  width: 100%
}

#form-search {
  height: 40px;
  width: 100% ;
  margin: auto ;
}