
.hightlight {
   background-color: #fafafa;
    height: 100px;
    margin-top: -10px;
    padding-top: 20px;
 }

.title {
  font-family: Lobster;
  font-size: 25px;
  text-transform: uppercase;
  color: red;
}
.content{
  /* margin: 50px 30px; */
  text-align: justify;
  font-size: 15px;
}
.content div{
  border: #808080 solid 1px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px 10px;
  border-radius: 5px;
}
div.content span{
  font-size: 18px;
  /* font-style: italic; */
}

p em {
  font-style: italic ;
  font-weight: bold ;
}

.btn {
  width: 100%
}

#input-search , #btn-search {
  height: 42px;
  width: 100% ;
}

#numdocs {
  margin-top: 10px;
  color: #808080 ;
}

