
.bodytext {
  min-height: 670px;
}
.hightlight {
   background-color: #fafafa;
    height: 100px;
    margin-top: -10px;
    padding-top: 20px;
 }

.title {
  font-family: Lobster;
  font-size: 25px;
  padding-left: 15% ;
  text-transform: uppercase;
  color: red;
}
.content {
  /* margin: 50px 30px; */
  text-align: justify;
  font-size: 15px;
}
.fulltext {
  text-align: justify ;
  border: 2px solid aliceblue;
  border-radius: 5px;
  padding: 10px;
}
div.content span.doc-title {
  font-size: 18px;
  color: #1a0dab; 
}

div.content span.target-url {
  color: #006621 ;
}

p em {
  font-style: italic ;
  font-weight: bold ;
}

.btn {
  width: 100%
}

#input-search , #btn-search {
  height: 42px;
  width: 100% ;
}

#numdocs {
  margin-top: 10px;
  color: #808080 ;
}

nav {
  margin-left: 9%;
}

.readmore {
    float: right;
}
